
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
    text-decoration: none;
    text-transform: none;
    transition: 0.2s ease;

}
body{
    background-color: rgb(231, 213, 247);
}

.navbar-collapse li a{
    text-decoration: none;
    margin-right: 25px;
    color:rgb(74, 39, 107);
}
.navbar{
    background-color: rgb(232, 176, 223);
    padding: 1% 0;
    font-size: 1.2em;

}
.navbar-toggler{
    background-color:  rgb(231, 213, 247);
}

.wrapper {
    max-width: 500px;
    width: 100%;
    background:  rgb(111, 8, 111); 
    margin: 70px auto;
    padding: 30px;
    }
  .wrapper .title{
        font-size: 24px;
        font-weight:700;
        margin-bottom: 10px;
        color:rgb(202, 106, 203);
        text-align: center;
    }
    .wrapper .form{
        width:100%;
    }
    .wrapper .form label{
        color:rgb(231, 213, 247) ;
        margin-top: 10px;
       
    }
    .wrapper .form .input{
      width:100%;
      outline:none;
      font-size:15px;
    }
    .wrapper .form textarea{
        resize:none;
        width:100%;
        height:37px;
    }
    .wrapper .form select{
    appearance: none;
    border: 1px solid rgb(231, 213, 247);
    width: 100%;
    height: 100%;
    border-radius: 3px;
    }
    .wrapper .form .btn{
       background:rgb(202, 106, 203) ;
    }