
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;

}
#logo{
    font-size: 30px;
    line-height: 100px;
    color:rgb(87, 6, 87);
    float:left;
}
#menu{
    height:100px;
    padding: 0 20px;
    background-color: rgb(232, 176, 223);
    
}
nav{
    float: right;
    line-height: 100px;
}
nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color:rgb(63, 22, 101);
}
nav a:hover{
    text-decoration: underline;
}



   

body{
    background-color: rgb(231, 213, 247);
    padding: 0 10px;
}
    
.wrapper{
max-width: 500px;
width: 100%;
background:  rgb(111, 8, 111); 
margin: 20px auto;
padding: 30px;
}
.wrapper .title{
    font-size: 24px;
    font-weight:700;
    margin-bottom: 25px;
    color:rgb(202, 106, 203);
    text-align: center;
}
.wrapper .form .input_field{
    margin-bottom: 15px;
    display:flex;
    align-items: center;
}
.wrapper .form .input_field label{
   width: 200px;
   color:rgb(231, 213, 247);
   margin-right: 10px;
   font-size: 14px;
}
.wrapper .form .ınput_field .input{
    width:100%;
    outline: none;
    border: 1px solid rgb(231, 213, 247);
    font-size: 15px;
    padding:8px 10px;
    border-radius: 3px;
    transition:  all 0.3s ease;
}
.wrapper .form .input_field textarea{
    resize:none;
    width:100%;
    height:37px;
 }
 .wrapper .form .input_field .custom_select{
    position:relative;
    width: 100%;
    height: 37px;
 }
 .wrapper .form .input_field .custom_select select{
    appearance: none;
    border: 1px solid rgb(231, 213, 247);
    width: 100%;
    height: 100%;
    border-radius: 3px;

 }
 .wrapper .form .input_field p{
    font-size: 14px;
    color:rgb(231, 213, 247);
 }
.wrapper .form .input_field .check{

position: relative;
display: block;
cursor: pointer;
}
.wrapper .form .input_field .check input[type="checkbox"]{
    position:absolute;
    top:0;
    left:0;
    opacity: 0;
}
.wrapper .form .input_field .check{

    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border:0;
    color:aliceblue;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}