*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;

}
body{
    background-color: rgb(231, 213, 247);
}

.navbar-collapse li a{
    text-decoration: none;
    margin-right: 25px;
    color:rgb(74, 39, 107);
}
.navbar{
    background-color: rgb(232, 176, 223);
    padding: 1% 0;
    font-size: 1.2em;

}
.navbar-toggler{
    background-color:  rgb(231, 213, 247);
}