*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: 0.2s ease;

}
body{
    background-color: rgb(231, 213, 247);
}

.navbar-collapse li a{
    text-decoration: none;
    margin-right: 25px;
    color:rgb(74, 39, 107);
}
.navbar{
    background-color: rgb(232, 176, 223);
    padding: 1% 0;
    font-size: 1.2em;

}
.navbar-toggler{
    background-color:  rgb(231, 213, 247);
}
h1{
    color:rgb(74, 39, 107);
    padding-top: 150px;
    text-align: center;
}
.container{
    padding-top: 200px;
}

.btn.dropdown-toggle  {
   
    width:150px;
    text-align:left;
}

span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

label {
    padding-top:20px;
    color: rgb(74, 39, 107);
}

.form-label {
    padding-top: 10px;
    padding-left:0px !important;
    color: rgb(74, 39, 107);
}

img {
   
    width:140px;
    height:140px;
}
#song-detail{
    padding-left: 80px;
}
#song-detail img{
    width: 300px;
    height: 300px;
}


img.track {
    border: 1px solid #8a8a8a;
}
#btn_submit{
    background-color: rgb(232, 176, 223);
}
