*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
    transition: 0.2s ease;

}
body{
    background-color: rgb(231, 213, 247);
}

.navbar-collapse li a{
    text-decoration: none;
    margin-right: 25px;
    color:rgb(74, 39, 107);
}
.navbar{
    background-color: rgb(232, 176, 223);
    padding: 1% 0;
    font-size: 1.2em;

}
.navbar-toggler{
    background-color:  rgb(231, 213, 247);
}
.signup-form{
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: rgb(111, 8, 111);
    position:absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    overflow: hidden;
}
.signup-form h1{
    color: rgb(231, 213, 247);
    font-size: 40px;
    margin-top: 100px;
}
.signup-form input{
    display:block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;


}
.txt{
    margin: 20px 0; 
    border-radius: 6px;
}
.signup-btn{
    margin-top: 60px;
    margin-bottom: 20px;
    background: rgb(232, 176, 223) ;
    color:rgb(63, 22, 101); 
    border-radius: 6px;
    cursor:pointer;
}