*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;

}
#logo{
    font-size: 30px;
    line-height: 100px;
    color:rgb(87, 6, 87);
    float:left;
}
#menu{
    height:100px;
    padding: 0 20px;
    background-color: rgb(232, 176, 223);
    
}
nav{
    float: right;
    line-height: 100px;
}
nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color:rgb(63, 22, 101);
}
nav a:hover{
    text-decoration: underline;
}
#h3iletisim{
    font-size: 70px;
    color:rgb(202, 106, 203);
   
}
#iletisim{
    text-align: center;
    padding: 50px;
    height: auto;

   
}
body{
    background-color: rgb(231, 213, 247);
}
.home{
    min-height: 100vh;
    background: url(../img/hk.jpg)
    no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;

    


}    
.home .content{
    max-width:60rem;
}
.home .content h3{
    font-size:4rem;
    text-transform: none;
    color: rgb(148, 106, 52);
}
.heading{
    color:rgb(74, 39, 107);
  margin-left: 10px;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
    margin-top: 3.5rem;
    font-size: 4rem;
}
.heading span{
  
    color:#fff;
}
.about .content{
    flex:1 1 45rem;
}
.about .content p{
    font-size: 2rem;
    color: rgb(63, 22, 101);
}

.tarihce .content{
    flex:1 1 45rem;
}
.tarihce .content p{
    font-size: 2rem;
    color: rgb(63, 22, 101);
}