*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
   
    transition: 0.2s ease;

}
#logo{
    font-size: 30px;
    line-height: 100px;
    color:rgb(87, 6, 87);
    float:left;
}
#menu{
    height:100px;
    padding: 0 20px;
    background-color: rgb(232, 176, 223);
    
}
nav{
    float: right;
    line-height: 100px;
}
nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color:rgb(63, 22, 101);
}
nav a:hover{
    text-decoration: underline;
}
body{
    background-color: rgb(231, 213, 247);
}

h1{
    text-align: center;
    color:rgb(63, 22, 101);
    height: 40px;
    width: auto;

}
h2{
    color:rgb(63, 22, 101);
    margin-top: 20px;
    padding-left: 100px;
}
aside {
    width: 30%;
    padding-left: 70px;
    margin-left: 70px;
    margin-right: 100px;

    float: right;
    font-style: italic;
    background-color: rgb(232, 176, 223);
  }
 p{
    padding-left: 100px;
    height: 20px;
 }
 h3{
    color:rgb(63, 22, 101);
    width: 30px;
 }
 .universite-p{
    padding:  10px;
 }