*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;

}
html,body{
    height: 100%;
    width: 100%;
}
.navbar{
    background-color: rgb(232, 176, 223);
    padding: 1% 0;
    font-size: 1.2em;

}
.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-default .navba-nav li a {
    color:aliceblue;
}